{{> html-head}}
<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
  {{> admin-menu}}
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">email</th>
        <th class="mdl-data-table__cell--non-numeric">ss password</th>
        <th class="mdl-data-table__cell--non-numeric">ss port</th>
        <th class="mdl-data-table__cell--non-numeric">ss encryption</th>
        <th class="mdl-data-table__cell--non-numeric">bandwidth</th>
        <th class="mdl-data-table__cell--non-numeric">invoice</th>
        <th class="mdl-data-table__cell--non-numeric">note</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{email}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{pass}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{port}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{enc}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{band}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{money}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{note}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{> html-foot}}