{{> header}} {{#unless user.enabled}}
<div class="mdl-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      账号被停用
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>您的账号已被停用。请联系
      <a href="mailto:{{site.admin}}">{{site.admin}}</a> 重新启用您的账号。</p>
    <p>可能的原因：您主动要求停用、您的账户发生欠费。</p>
    <p>请您阅读下方描述信息确认您的缴费情况。</p>
    <pre><code>{{user.note}}</code></pre>
  </div>
</div>{{/unless}} {{#with user.vmess}}{{#if enabled}}
<div class="mdl-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <i class="material-icons">settings</i> VMess 方式连接配置说明（推荐）
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#android-panel" class="mdl-tabs__tab is-active">Android</a>
        <a href="#ios-panel" class="mdl-tabs__tab">iOS</a>
        <a href="#win-panel" class="mdl-tabs__tab">Windows</a>
        <a href="#mac-panel" class="mdl-tabs__tab">macOS</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">Others</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="android-panel">
        <ol data-anchor-id="0udc">
          <li>下载客户端并安装(app-universal-release.apk)。</li>
          <a href="https://github.com/2dust/v2rayNG/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            GitHub
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Google Play
          </a>
          <li>点击下面的按钮，按照系统提示用应用 v2rayNG 打开，并按照应用提示确认添加。</li>
          <a href="vmess://{{link.android}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <li>点击新增的配置文件右侧编辑图标。</li>
          <li>（可选）在弹出的面板内，修改「security」为「chacha20-poly1305」，点击右上角对号保存。</li>
          <li>点击右上角菜单，选择「Settings」。</li>
          <li>打开「Bypass Mainland」，（可选）打开「Enable Mux」。</li>
          <li>返回首页；然后点击下方纸飞机，待提示「Start Server Success」后即可开始使用网络。个别系统可能会询问权限，请一律允许。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="ios-panel">
        <h5>应用 Kitsunebi（推荐）</h5>
        <ol data-anchor-id="0udc">
          <li>在 App Store 购买应用 Kitsunebi（￥12），或申请免费的测试版（需要挂代理访问）。</li>
          <a href="https://itunes.apple.com/cn/app/kitsunebi/id1275446921" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            App Store
          </a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSekOGRE7cXk3vBTVjlHiv6RJRXfeItZvjQCDRxyigKYq6ChmA/viewform" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            TestFlight
          </a>
          <li>打开应用，点击左上角📷图标扫描下方二维码，
            <br>移动设备可以长按保存二维码后，点击左上角📷图标，再点击右上角文件夹图标，从相册中选择二维码图片。
            <br>
            <img src="{{qrcode.kitsunebi}}">
          </li>
          <li>点击确认，进入「服务器」，点击「{{remark}}」右侧信息图标，编辑配置，关闭「Mux」。</li>
          <li>点击保存返回，选择「{{remark}}」，使左侧图标变为绿色。</li>
          <li>进入「高级特性」，找到「Tunnel 选项」，打开「Full Tunnel」。</li>
          <li>回到主界面，打开连接。系统可能多次询问权限，请一律允许。</li>
        </ol>
        <h5>应用 Shadowrocket</h5>
        <ol data-anchor-id="0udc">
          <li>在非中国大陆区域的 App Store 里购买并安装应用「Shadowrocket」（约合人民币 18 元）。</li>
          <a href="https://itunes.apple.com/us/app/shadowrocket/id932747118?mt=8" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            App Store
          </a>
          <li>点击下面的按钮，按照系统提示用应用 Shadowrocket 打开，并按照应用提示确认添加。</li>
          <a href="vmess://{{link.shadowrocket}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <li>在主界面点击「未连接」的开关，按照系统提示允许建立 VPN 连接。</li>
          <li>此后每次需要连接代理时，请手动打开应用连接。也可以在控制中心添加快捷开关。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="win-panel">
        <ol data-anchor-id="0udc">
          <li>下载 v2rayN 和 v2ray-core (v2ray-windows-64.zip)，使 v2rayN.exe 和 v2ray.exe 在同一目录下。</li>
          <a href="https://github.com/2dust/v2rayN/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            v2rayN
          </a>
          <a href="https://github.com/v2ray/v2ray-core/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            v2ray-core
          </a>
          <li>打开 v2rayN.exe，从系统托盘区找到粉色图标，双击打开主界面。</li>
          <li>复制下面的内容到剪贴板（三击鼠标左键选中整行）：
            <pre style="white-space: pre-wrap;}"><code>vmess://{{link.win}}</code></pre>
          </li>
          <li>选择「服务器」，从菜单中选择「添加一个服务器」。</li>
          <li>点击最上方「导入配置文件」，选择「从剪贴板导入 URL」。</li>
          <li>点击确定，回到主界面，选择「参数设置」。</li>
          <li>切换到「路由设置」，打开「绕过大陆地址」和「绕过大陆 IP」。</li>
          <li>（可选）切换到「v2rayN 设置」，打开「开机自动启动」。</li>
          <li>点击确定，关闭主界面。右击托盘区图标，选择「启用系统代理」，「系统代理模式」选择「全局模式」。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="mac-panel">
        <ol data-anchor-id="0udc">
          <li>下载 v2rayX。</li>
          <a href="https://github.com/Cenmrev/V2RayX/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            v2rayX
          </a>
          <li>打开应用，系统可能多次询问权限，请一律允许。从托盘区找到 V 形图标，点击打开菜单，选择「Configure」。</li>
          <li>勾选「Support UDP」。</li>
          <li>在「V2Ray Servers」处点击减号删除原有的服务器，点击加号添加新的服务器。</li>
          <li>对应填写：
            <br>
            <b>Address</b>
            <code>{{host}}</code>
            <br>
            <b>冒号后</b>
            <code>443</code>
            <br>
            <b>User ID</b>
            <code>{{id}}</code>
            <br>
            <b>alterId</b>
            <code>{{aid}}</code>
            <br>
            <b>Security</b>
            <code>aes-128-gcm</code>
            <br>
            <b>Network</b>
            <code>{{#eq network "ws"}}WebSocket{{/eq}}{{#neq network "ws"}}{{network}}{{/neq}}</code>
          </li>
          {{#eq network "ws"}}
          <li>打开「transport settings」，切换到「WebSocket」，勾选「connection reuse」，「path」填写
            <code>{{webSocket.path}}</code>。</li>
          {{/eq}} {{#neq tls.status "off"}}
          <li>切换到「TLS」，勾选「Use TLS」，「Server Name」填写
            <code>{{tls.server}}</code>{{/neq}}
          </li>
          <li>切换到「Mux」，勾选「Enable」，多次点击「OK」关闭主界面。</li>
          <li>从托盘区找到 V 形图标，点击打开菜单，选择「V2Ray Rules」，点击「Start V2Ray」。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="targaryens-panel" style="overflow-x: auto;">
        <p data-anchor-id="hwku">本服务是 v2ray VMess 服务，请按照如下参数自行配置：</p>
        <p>
          <b>服务器地址：</b>
          <br>
          <code>{{host}}</code>
          <br>
          <b>端口：</b>
          <br>
          <code>{{port}}</code>
          <br>
          <b>用户 ID：</b>
          <br>
          <code>{{id}}</code>
          <br>
          <b>Alter ID：</b>
          <br>
          <code>{{aid}}</code>
          <br>
          <b>连接信息</b>
          <br>
          <b>{{#eq network "ws"}}WebSocket{{/eq}}{{#neq network "ws"}}{{network}}{{/neq}}</b>
          <br>{{#eq network "ws"}}Path={{webSocket.path}},Host={{webSocket.host}},Headers={{webSocket.headersJson}}{{/eq}}
          <br>
          <b>{{#neq tls.status "off"}}+TLS{{/neq}}</b>,Host={{tls.server}},allowInsecure={{#if tls.cert.trust}}0{{/if}}{{#unless
          tls.cert.trust}}1{{/unless}}
          <br>
        </p>
        <p>如果你的客户端支持配置文件，也可以点击下方的按钮下载配置文件：
          <br>
          <a href="/v2ray_config.json?id={{user.vmess.id}}&aid={{user.vmess.alterId}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
        </p>
      </div>
    </div>
    <p>使用火狐浏览器的特别说明：请在「设置」-「代理设置」中打开「当使用 SOCKS v5 时代理 DNS 请求」。</p>
  </div>
</div>{{/if}}{{/with}} {{#with user.ss}}{{#if enabled}}
<div class="mdl-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <i class="material-icons">settings</i> Shadowsocks 方式连接配置说明
    </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#android-panel" class="mdl-tabs__tab is-active">Android</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">iOS</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">Others</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="android-panel">
        <ol data-anchor-id="0udc">
          <li>下载客户端并安装</li>
          <a href="https://github.com/shadowsocks/shadowsocks-android/releases" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            GitHub
          </a>
          <li>点击下面的按钮，按照系统提示用应用 Shadowsocks 打开，并按照应用提示确认添加。</li>
          <a href="ss://{{uri}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <li>点击新增的配置文件右侧编辑图标。</li>
          <li>在弹出的面板内，修改「配置名称」为自己喜欢的值。</li>
          <li>下拉找到「路由」，选择「绕过局域网及中国大陆地址」；打开「IPv6 路由」；关闭「UDP 转发」。</li>
          <li>点击右上角对号保存，回到主界面。</li>
          <li>首先点击刚刚建立的配置文件，其左侧条变为绿色；然后点击下方纸飞机，待最下方文本框变为绿色后即可开始使用网络。个别系统可能会询问权限，请一律允许。</li>
          <li>若网络没有问题，可点击主界面左上角图标打开菜单，选择「设置选项」并启用「自动连接」，代理将在开机且有网络时自动启动。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="lannisters-panel">
        <ol data-anchor-id="0udc">
          <li>在非中国大陆区域的 App Store 里购买并安装应用「Shadowrocket」（约合人民币 18 元）。</li>
          <a href="https://itunes.apple.com/us/app/shadowrocket/id932747118?mt=8" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            App Store
          </a>
          <li>点击下面的按钮，按照系统提示用应用 Shadowrocket 打开，并按照应用提示确认添加。</li>
          <a href="ss://{{uri}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <li>在主界面点击「未连接」的开关，按照系统提示允许建立 VPN 连接。</li>
          <li>此后每次需要连接代理时，请手动打开应用连接。也可以在控制中心添加快捷开关。</li>
        </ol>
      </div>
      <div class="mdl-tabs__panel" id="targaryens-panel">
        <p data-anchor-id="hwku">本服务是 shadowsocks 服务，请按照如下参数自行配置：</p>
        <p>
          <b>服务器地址</b>
          <code>{{host}}</code>
          <br>
          <b>端口</b>
          <code>{{port}}</code>
          <br>
          <b>密码</b>
          <code>{{password}}</code>
          <br>
          <b>加密方式</b>
          <code>{{encryption}}</code>
          <br>
        </p>
        <p>如果你的客户端支持配置链接，也可以点击下方的按钮：
          <br>
          <a href="ss://{{uri}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Config
          </a>
          <br>或者扫描下面的二维码：
          <br>
          <img src="{{qrcode}}">
        </p>
      </div>
    </div>
  </div>
</div>{{/if}}{{/with}} {{#each cards}} {{> card}} {{/each}} {{> footer}}